.form-control {

}
.formControl.error input,
.formControl.error textarea{
    border: solid #ff0000 2px;

}
.formControl.error span {
    color: red;
}
.formSummaryError {
    padding: 5px;
    color: brown;
}
.input{
    display: block;
}
